.container-1, .container-3, .container-4 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}


.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
}

.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex-box-container-1 img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* padding: 10px; */
}


.container-2 {
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.flex-box-container-2, .flex-box-color, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url('../images/blackjack-table.jpg');
    color: #ffffff;
}

.flex-blackjack-row-1 img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* padding: 10px; */
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.flex-box-container-2 img{
    /* border: 1px solid green; */
    /* padding: 20px; */
    margin: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}

.flex-blackjack-row-3 {
    background-color: rgba(173, 36, 36, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 20px rgba(37, 50, 233, 0.7);
}

.container-5 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

table, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}